html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: absolute;
    margin-top: 10%;
    margin-left: 40%;
}


#display {
    background-color: #f2f2f8d3;
    font-size: 50px;
    border: 2px solid; 
    padding: 15px 15px 15px 15px;
    text-align: end;
    grid-column: 1/5;
}

button {
    font-size: 50px;
    padding: 15px 15px 15px 15px;
}

body {
    background-color: rgb(127, 228, 215);
}

.operators {
    background-color:rgb(193, 240, 195);
}

.numbers {
    background-color: rgb(228, 191, 187);
}